<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>调查结束</title>
</head>
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<div class="container">
			<p>
				<div style="text-align: center;">
					<img src="images/logo.jpg" height="105" width="280">
				</div>
			</p>
			<p style="text-align: center;">
				<img src="images/qr.jpg" height="200" width="200">
			</p>
			<p style="text-align: center;">
				<span style="font-size:24px">服务热线： 400-0-835859</span>
			</p>
			<p style="text-align: center;">
				<br/>
				<a href="http://www.jingh.com.cn" style="font-size:24px">企业网站: www.jingh.com.cn</a>
			</p>
			<p style="text-align: center;">
				<span style="font-size:32px">
					<br/>
				</span>
			</p>
			<p style="text-align: center;">
				<span style="color:#ff0000;font-size:32px">感谢您参与本次调查！</span>
			</p>
		</div>		
	</div>
</div>
</body>
</html>